# White list
*
!*/

!.gitignore
!taskfile.yml
!README.md
!Dockerfile
!.gitallowed

!*.sh
!*.symlink
!*.example
!*.macos
!*.ubuntu
!Brewfile
!install*

# nvim
!.config/nvim.symlink/**/*lua
!.config/nvim.symlink/.stylua.toml

# zsh
!*.zsh
!*zshrc*

# scripts
!/scripts/*

# bin
!/bin/*

# karabiner
!/karabiner/complex_modifications/*.json

# vscode
!/vscode/extensions
!/vscode/extensions.old
!/vscode/keybindings.json5
!/vscode/settings.json5