# White list
*
!*/

!.gitignore
!compose.yml
!Dockerfile
!install_ubuntu.sh

!*.sh
!.config/*
!*_shared*

!.tmux.conf
!*.zsh*
!starship.toml
!plugins.toml
!*.lua
!*.json
!*.vim
!.stylua.toml
!.vimrc
!Brewfile
!*.md
!.profile
!extensions

# Black list
*secret*
*.env*
*credential*
*.pem
*.key
*local_*
